*{
    margin: 0;
    font-family: 'poppins', sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    background-image:url(../IMG/Fondo.png) ;
}


.check_btn{
    font-size: 25px;
    color: white;
    float: left;
    line-height: 50px;
    margin-right: 10px;
    cursor: pointer;
    display: none;
    background-color: transparent;
}

#check{
    display: none;
}

@media(max-width:858px){
    .check_btn{
        display: block;
    }
    ul{
        position: fixed;
        width: 40%;
        height: 90vh;
        background: #b18d66;
        top: -100%;
        text-align: left;
        transition: all .5s;
        border: 2px solid #c9c8c8;
        border-radius: 6px;
        box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
    }

header .navigation ul li{
    display: block;
    margin: 50px 0;
    line-height: 30px;
}
header .navigation ul li a{
    font-size: 20px;
}
#check:checked ~ ul{
   left: 0;
}
} 

/*logo*/

.logo{
   /* your existing logo styles*/
    color: white;
    user-select: none;
    font-size: 25px;
    line-height: 50px;
    padding: 0 10px;
    font-family: 'poppins', sans-serif;
    font-weight: bold;

}

.cover_box{
    position: relative;
    width: 410px;
    height: 480px;
    background: transparent;
    border: 3.6px solid #e8b86d;
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; 
    transition: transform .5s ease, height .2s ease, border-color 0.5s ease;
    background-color: #000000;
}

.cover_box:hover{
    border-color: #fff;
    animation: border-glow 1s infinite alternate;
}

@keyframes border-glow{
    from{
        border-color: #f6f8f6;
        border: 4px solid;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    }

    to{
        border-color: #e8b86d;
        box-shadow: 0 0 20px solid rgba(255, 255, 255, 1);
    }
}

.cover_box.active-popup{
    transform: scale(1);
}

.cover_box.active{
    height: 520px;
}

.cover_box .form-box{
    width: 100%;
    padding: 40px;
}

.cover_box .form-box.login{
    transition: transform .50s ease;
    transform: translateX(0);
}


.cover_box.active  .form-box.login{
    transition: none;
    transform: translateX(-400px);
}

.cover_box.active .form-box.register{
    transition: transform .50 ease;
    transform: translateX(0);
}

.cover_box .icon-close{
    position: absolute;
    top: 5px;
    right: 5px;
    width: 45px;
    height: 45px;
    background: #e8b86d;
    font-size: 2em;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    z-index: 1p;
}

.form-box h2{
    font-size: 2em;
    color: #e8b86d;
    text-align: center;
}

.input-box{
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}


.input-box label{
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    font-size: 1em;
    color: #e8b86d;
    font-weight: 500;
    pointer-events: none;
    transition: .5s;

}

.input-box input:focus~label,
.input-box input:valid~label{
    top: -10px;
}

.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: 1.5px solid #e8b86d;
    border-radius: 10px;
    outline: none;
    font-size: 1em;
    color: #e8b86d;
    font-weight: 600;
}

.input-box .icon{
    position: absolute;
    right: 8px;
    font-size: 1.2em;
    color: #e8b86d;
    line-height: 57px;
}

.remenber-forgot{
    font-size: .9em;
    color: #e8b86d;
    font-weight: 500;
    margin: -15px 0 15px;
    display: flex;
    justify-content: space-between;
}

.remenber-forgot label input{
    accent-color: #e8b86d;
    margin-right: 3px;
}

.remenber-forgot a{
    color: #e8b86d;
    text-decoration: none;
}

.remenber-forgot a:hover{
    text-decoration: underline;
}

.btn{
    width: 100%;
    height: 45px;
    background-color: #e8b86d;
    border: none;
    outline: none;
    border-radius: 100px;
    cursor: pointer;
    font-size: 1em;
    color: #fff;
    font-weight: 500;
}

.form-boxregisterhidden{
    font-size: .9em;
    color: #9a9a9a;
    text-align: center;
    font-weight: 500;
    margin: 25px 0 10px;
}

.hidden {
    display: none;
}

.login-register p a{
    color: #e8b86d;
    text-decoration: none;
    font-weight: 600;
}

.login-register p a:hover{
    text-decoration: underline;
}

.login-register p{
    color: #fff;
}